http://tonyseek.googlecode.com/files/Babel-1.0dev-r0.tar.gz#egg=babel
http://hg.sqlalchemy.org/sqlalchemy/archive/default.tar.gz#egg=sqlalchemy
Flask>=0.9
Flask-Assets>=0.7
Flask-Babel>=0.8
http://github.com/mitsuhiko/flask-oauth/zipball/master#egg=Flask-OAuth-dev
Flask-OpenID>=1.0.1
Flask-Script
Flask-SQLAlchemy>=0.1.6
pep8
pyflakes
